@font-face {
  font-family: nb;
  src: url(../fuente/NBInternationalProBoo.ttf);
}

@font-face {
  font-family: rh;
  src: url(../fuente/Rejouice-Headline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* loader */

.loader {
  background-color: #000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.loader h2 span {
  display: inline-block;
  color: #fff;
  font-weight: lighter;
}

/* loader */

/* pagina 1 */

#page1 {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}

/* cursor */

#cursor {
  width: 7vw;
  height: 7vw;
  background-color: #ff5f38;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  z-index: 4;
}

#cursor h5 {
  font-size: 1.2vw;
  font-weight: lighter;
  color: #1a1919;
}

/* cursor */

/* menu */

nav{
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

nav a{
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* El menú ocupará todo el ancho */
  height: 430px; /* El menú ocupará toda la altura de la pantalla */
  background-color: #ff5f38;
  padding: 48.8px;
  transform: translateY(-100%); /* Ocultar el menú fuera de la vista (arriba) */
  transition: transform 0.3s ease-in-out; /* Animación para el deslizamiento */
  z-index: 1000; /* Asegura que el menú esté por encima del contenido */
}

/* Mostrar el menú cuando el toggle está activado */
.menu.open {
  transform: translateY(0); /* Mueve el menú hacia la vista (en la parte superior) */
}

/* Botón de menú */
.menu-toggle-button {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
}

/* Cuando el menú esté abierto */
.menu.open .menu-toggle-button {
  display: none; /* Ocultar el botón "Menu" cuando el menú está abierto */
}


.logoimg{
  max-width: 16.95px;
}

.menu-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-header span{
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.vid{
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
}

.vid video{
  height: 250px;
}

.menu-sec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.links{
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 1;
  justify-content: center;
}

.links h3 a{
  color: black;
  font-size: 50px;
  text-decoration: none;
  position: relative;
  font-weight: 400;
}

.small-links, .social{
  display: flex;
  flex-direction: row;
}

.small-links h4, .small-links h3{
  color: black;
}

.small-links{
  border-top-color: #000000;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.social{
  gap:20px;
}


.links h3 a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black; 
  transition: width 0.3s ease; 
}

/* Al hacer hover sobre el enlace */
.links h3 a:hover::after {
  width: 100%;
}
/* menu */

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 3vw;
}

nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
  font-family: rh;
}

nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
  font-family: rh;
}

#page1-content nav a {
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
  font-size: 1.4vw;
}

#page1-content h1 {
  font-size: 27vw;
  font-weight: 100;
  line-height: 27vw;
  font-family: rh;
}

#page1-content h1 span {
  font-family: rh;
}

/* page1 */

/* page2 */

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
  padding: 5vw 2.8vw;
}

#page2-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid black;
}

#page2-top img {
  font-size: 1.7vw;
  font-weight: 500;
  width: 5%;
}

#page2-top h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

#contact-container {
  display: flex;
  justify-content: space-around;
  padding-top: 5vw;
}

#contact-desc {
  font-size: 30px;
  color: #333;
  line-height: 1.5;
  width: 60%;
  letter-spacing: 5px;
  /* font-weight: 500; */
  text-align: justify;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.contact-text {
  margin-bottom: 20px;
}

.contact-text h1 {
  color: #333;
  margin: 0;
}

.contact-text h2 {
  color: #333;
  margin: 0;
  font-weight: lighter;
}

/* page2 */

/* page4 */

#page4 {
  height: 100vh;
  width: 100%;
  padding: 4vw 0;
  position: relative;
  overflow: hidden;
}

#page4 h1 {
  font-size: 10vw;
  font-family: rh;
  font-weight: 100;
  border-bottom: 1px solid black;
  /* background-color: red; */
  width: 96%;
  margin-left: 2%;
}

#swiperdiv {
  height: 60vh;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.swiper {
  width: 120%;
  height: 100%;
}

.swiper-slide {
  width: 400px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.swiper-slide img {
  display: block;
  width: 18%;
  object-fit: cover;
}

/* page4 */

footer{
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  overflow: hidden;
}

.footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second{
  display: flex;
  flex-direction: row;
}

.second-one{
  margin-right: 30px;
}

.second-one .span{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.second-two .span{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.second-two .span :hover {
  text-decoration: underline;
  
}

.second-one .span :hover {
  text-decoration: underline;
  
}

.footer-bottom .span1{
  display: flex;
  justify-content: end;
}

#footerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300px;
}

@media screen and (max-width: 576px) {

  /* Ajustes generales */
  body {
    font-size: 14px;
  }

  .slidepage3{
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: center;
  }

  .slidepage3::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
  }

  #cursor{
    display: none;
  }
  /* Loader */
  .loader h2 span {
    font-size: 26px;
  }

  /* Cursor */
  #cursor {
    display: none !important;
  }

  /* Menu */

  .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-sec .vid {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-sec .links a {
    font-size: 60px;
  }

  .menu .menu-border {
    display: none;
  }

  .menu .small-links .title-small-links {
    display: none;
  }

  .small-links {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .menu .small-links .social h3 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
  }


  /* Pagina 1 */

  #page1-content nav h2 a {
    font-size: 18px;
  }

  #page1 .menu {
    height: 100%;
  }

  #close {
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 50px;
    color: black;
    background-color: #ff5f38;
    border-radius: 100%;
    border: 1px solid black;
  }

  #close::before {
    content: "X";
    font-size: 10px;
    display: block;
  }

  #close span {
    display: none;
  }

  #page1-content h3 {
    font-size: 32px;
  }

  #page1-content p {
    font-size: 14px;
  }

  .button-menu {
    border: 2px solid white;
    width: 80px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  #page1-content button {
    font-size: 14px;
    padding: 10px 20px;
  }

  /* Pagina 2 */

  #page2 {
    height: fit-content;
    box-sizing: border-box;
  }

  #page2 #page2-top h4 {
    font-size: 16px;
  }

  #contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  #contact-desc {
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    width: 100%;
    letter-spacing: 2px;
    /* font-weight: 500; */
    text-align: justify;
  }
  
  #contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  
  .contact-text h1 {
    color: #333;
    margin: 0;
  }
  
  .contact-text h2 {
    color: #333;
    margin: 0;
    font-weight: lighter;
  }

  #footerTitle{
    font-size: 120px;
  }
  .footer-top{
    flex-direction: column;
    justify-content:left;
  }

  .second{
    margin-top: 20px;
  }

  

}

@media screen and (min-width: 577px) and (max-width: 1024px) {

  /* Ajustes generales */
  body {
    font-size: 14px;
  }

  /* Loader */
  .loader h2 span {
    font-size: 26px;
  }

  /* Cursor */
  #cursor {
    display: none;
  }

  .menu .menu-border {
    height: 0px;
}
  /* Menu */

  .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-sec .links a {
    font-size: 60px;
  }

  .menu .small-links .title-small-links {
    font-size: 25px;
  }

  .small-links {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: -30%;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .menu .small-links .social h3 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
  }
  .slidepage3{
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: center;
  }

  .slidepage3::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
  }

  /* Pagina 1 */

  #page1-content nav h2 a {
    font-size: 35px;
  }

  #page1 .menu {
    height: 100%;
  }

  #close {
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 50px;
    color: black;
    background-color: #ff5f38;
    border-radius: 100%;
    border: 1px solid black;
  }

  #close::before {
    content: "X";
    font-size: 10px;
    display: block;
  }

  #close span {
    display: none;
  }

  #page1-content h3 {
    font-size: 32px;
  }

  #page1-content p {
    font-size: 14px;
  }

  .button-menu {
    border: 2px solid white;
    width: 150px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px !important;

  }


  #page1-content button {
    font-size: 14px;
    padding: 10px 20px;
  }

  /* Pagina 2 */

  #page2 {
    height: fit-content;
    box-sizing: border-box;
  }

  #page2 #page2-top h4 {
    font-size: 25px;
  }

  #contact-desc {
    font-size: 20px;
    color: #333;
    line-height: 1.5;
    width: 60%;
    letter-spacing: 2px;
    /* font-weight: 500; */
    text-align: justify;
  }

  #contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
  }

  #footerTitle{
    font-size: 200px;
  }

}