@font-face {
  font-family: nb;
  src: url(../fuente/NBInternationalProBoo.ttf);
}

@font-face {
  font-family: rh;
  src: url(../fuente/Rejouice-Headline.ttf);
}



/* inicio */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* loader */

.loader {
  background-color: #000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.loader h2 span {
  display: inline-block;
  color: #fff;
  font-weight: lighter;
}

/* loader */


/* pagina 1 */

#page1 {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}

/* cursor */

#cursor {
  width: 7vw;
  height: 7vw;
  background-color: #ff5f38;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  z-index: 4;
}

#cursor h5 {
  font-size: 1.2vw;
  font-weight: lighter;
  color: #1a1919;
}

/* cursor */

/* menu */

.menu {
  height: 0vh;
  position: absolute;
}

.menu.active {
  position: absolute;
  z-index: 6;
  height: 60vh;
  width: 100vw;
  background-color: #ff5f38;
}

.menu-header {
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 3vw;
  margin-top: 2vw;
}

.menu-header a {
  color: #2d2b2b;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
  font-weight: lighter;
  font-size: 1.5vw;
  letter-spacing: -1px;
}

.menu-header #close {
  position: relative;
  cursor: pointer;
}

.menu-header #close a {
  cursor: pointer;
}

.menu-header img {
  font-size: 1.7vw;
  font-weight: 500;
  width: 5%;
}

.menu-header #close::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
  cursor: pointer;
}

.menu-header #close:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

#close {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%;
}

#close:hover {
  text-decoration: underline;
}

.menu-sec {
  height: 200px;
  width: 100vw;
  padding: 0vw 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-sec .vid {
  height: 250px;
  width: 300px;
  border-radius: 8px;
  position: relative;
}

.menu-sec .vid video {
  width: 300px;
  height: 220px;
  border-radius: 8px;
}

.menu-sec .vid .play {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 5px;
  gap: 5px;
  font-weight: lighter;
}

.menu-sec .vid .play #play {
  position: relative;
}

.menu-sec .vid .play #play::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.menu-sec .vid .play #play:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-sec .vid .play i {
  color: #fff;
}

.menu-sec .vid .play h4 {
  font-weight: lighter;
  font-size: 1.1vw;
  margin-left: 170px;
}

.menu-sec .links {
  position: relative;
}

.menu-sec .links h3 {
  font-size: 3.1vw;
  font-weight: lighter;
  margin-right: 15vw;
  cursor: pointer;
  line-height: 1;
  position: relative;
}

.menu-sec .links a {
  text-decoration: none;
  color: black;
}

.menu-sec .links h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.menu-sec .links h3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-sec .links button {
  background-color: transparent;
  border: 1px solid #000;
  padding: 1vw 1.8vw;
  border-radius: 5px;
  font-size: 1.2vw;
  margin: 1.5vw 0vw 0vw 1.5vw;
  cursor: pointer;
}

.menu-sec .links button:hover {
  background-color: #000;
  color: #ff5f38;
  transition: background-color 0.3s ease;
}

.menu .menu-border {
  height: 1px;
  width: 0vw;
  margin: 4vw 3vw 0vw 3vw;
  background-color: #2d2b2b;
}

.menu .small-links {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.menu .small-links h4 {
  font-weight: lighter;
  padding: 1vw 3vw;
}

.menu .small-links h3 {
  font-weight: lighter;
  font-size: 1.2vw;
  cursor: pointer;
  position: relative;
}

.menu .small-links .social {
  display: flex;
  justify-content: space-around;
  /* Opcional: ajusta el espacio entre los elementos */
  align-items: center;
  /* Opcional: alinea verticalmente los elementos */
  position: relative;
  right: 5%;
}

.menu .small-links h3::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 80%;
  bottom: 25%;
  left: 10%;
  transform: scaleX(0);
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.menu .small-links h3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* menu */

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 3vw;
}

nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
  font-family: rh;
}

nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
  font-family: rh;
}

#page1-content nav a {
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
  font-size: 1.4vw;
}

#page1-content h1 {
  font-size: 27vw;
  font-weight: 100;
  line-height: 27vw;
  font-family: rh;
}

#page1-content h1 span {
  font-family: rh;
}

/* page1 */

/* page2 */

#page2 {
  height: 100vh;
  padding: 5vw 2.8vw;
  display: flex;
  flex-direction: column;
  align-items: center ;
}

#page2-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid black;
  width: 100%;
}

#page2-top img {
  font-size: 1.7vw;
  font-weight: 500;
  width: 5%;
}

#page2-top h4 {
  font-size: 1.7vw;
  font-weight: 500;
}

.elem {
  overflow: hidden;
}

.elem h1 {
  font-size: 3.2vw;
  font-weight: 500;
}

/* page2 */

/* page3 */

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}

#page3-top {
  text-align: center;
  padding: 10vw;
  box-sizing: inherit;
}

#page3-top h2 {
  margin-bottom: 2vw;
  font-size: 4vw;
  font-weight: 600;
}

#page3-top span {
  padding: 1.5vw;
  font-size: 2vw;
  font-weight: 300;
  transition: width 0.3s;
}

#page3-top #palabra:hover {
  padding: 1.5vw;
  font-size: 2vw;
  font-weight: 300;
  border-bottom: 1px solid black;
  transition: width 0.3s;
}

#page3-elements {
  height: 40vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  margin-top: 7vw;
}

/* page3 */

#page4 {
  height: 100vh;
  width: 100%;
  padding: 4vw 0;
  position: relative;
}

#page4 h1 {
  font-size: 10vw;
  font-family: rh;
  font-weight: 100;
  border-bottom: 1px solid black;
  /* background-color: red; */
  width: 96%;
  margin-left: 2%;
}

#swiperdiv {
  height: 60vh;
  width: 100%;
  position: relative;
  margin-top: -5%;
}

.swiper {
  width: 120%;
  height: 100%;
}

.swiper-slide {
  width: 400px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.swiper-slide img {
  display: block;
  width: 18%;
  object-fit: cover;
}

/* page3 */

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  margin-top: 3vw;
  overflow: hidden;
}

#page3-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: yellow;
}

#page3-top h2 {
  margin-bottom: 2vw;
  font-size: 4vw;
  font-weight: 600;
}

#page3-elements {
  height: 40vw;
  width: 100%;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

/*pagina 3 Nosotros*/

.container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: auto;
}

.container-circle {
  display: grid;
  grid-template-areas:
    "section1 circle section2"
    "section3 circle section4";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.section {
  padding: 20px;
}

.section:nth-child(1) {
  grid-area: section1;
}

.section:nth-child(2) {
  grid-area: section2;
}

.section:nth-child(3) {
  grid-area: section3;
}

.section:nth-child(4) {
  grid-area: section4;
}

.circle {
  grid-area: circle;
  width: 400px;
  height: 400px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#page4 {
  overflow: hidden;
}

.provimg{
  max-height: 100%;
  max-width: auto;
  object-fit: cover;
}

#page3-elements{
  align-items: center;
  justify-content: center;
}

/* footer*/

footer {
  height: 100vh;
  width: 100vw;
  background-color: #0e0e0e;
}

footer .footer-top {
  height: 65vh;
  width: 100vw;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top .first {
  font-size: 10px;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* gap: 15vw; */
  padding-left: 2.5vw;
  color: #fff;
}

.footer-top .first .first-top h2 {
  font-weight: light;
  font-family: nb;
}

.footer-top .first .first-top button {
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 1.1vw;
  font-weight: lighter;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-top .first .first-top button:hover {
  background-color: #fff;
  color: #000;
}

.footer-top .first .first-btm h4 {
  font-weight: lighter;
}

.footer-top .second {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding-right: 3vw;
  color: #fff;
}

.second .second-one {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.second .second-one .span span {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.second .second-one .span>span::after,
.second .second-one .span1>span::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0%;
  left: 0%;
  transform: scaleX(0);
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.second .second-one .span>span:hover::after,
.second .second-one .span1>span:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.second .second-two {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 17.5vw;
}

.second .second-two .span span {
  display: flex;
  position: relative;
  cursor: pointer;
}

.second .second-two .span>span::after,
.second .second-two .span1>span::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0%;
  left: 0%;
  transform: scaleX(0);
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.second .second-two .span>span:hover::after,
.second .second-two .span1>span:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.second .second-two .span1 {
  position: relative;
  cursor: pointer;
}

.second .second-one .span1 {
  position: relative;
  cursor: pointer;
}

footer .footer-bottom {
  height: 35vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

footer .footer-bottom h1 .last {
  display: inline-block;
  font-size: 22vw;
  margin-top: -6vw;
  color: #fff;
  letter-spacing: 8px;
}

/* footer*/

@media screen and (max-width: 576px) {

  /* Ajustes generales */

  .container-circle {
    display: flex;
    flex-direction: column;
  }

  .circle{
    background-color: #FFF;
    box-shadow: 0 0 0;
    border-radius: 0;
    height: fit-content;
  }

  /* Loader */
  .loader h2 span {
    font-size: 26px;
  }

  /* Cursor */
  #cursor {
    display: none !important;
  }

  /* Menu */

  .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-sec .vid {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-sec .links a {
    font-size: 60px;
  }

  .menu .menu-border {
    display: none;
  }

  .menu .small-links .title-small-links {
    display: none;
  }

  .small-links {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .menu .small-links .social h3 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
  }


  /* Pagina 1 */

  #page1-content nav h2 a {
    font-size: 18px;
  }

  #page1 .menu {
    height: 100%;
  }

  #close {
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 50px;
    color: black;
    background-color: #ff5f38;
    border-radius: 100%;
    border: 1px solid black;
  }

  #close::before {
    content: "X";
    font-size: 10px;
    display: block;
  }

  #close span {
    display: none;
  }

  #page1-content h3 {
    font-size: 32px;
  }

  #page1-content p {
    font-size: 14px;
  }

  .button-menu {
    border: 2px solid white;
    width: 80px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  #page1-content button {
    font-size: 14px;
    padding: 10px 20px;
  }

  /* Pagina 2 */

  #page2 {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  #page2 #page2-top h4 {
    font-size: 16px;
  }

  #page2 .elem h1#descriptionText1 {
    padding-top: 5vw;
    line-height: 1.8;
    letter-spacing: 5px;
    font-size: 5vw;
    font-weight: 500;
    overflow: visible;
  }

  #page3 {
    height: fit-content;
    box-sizing: border-box;
  }

  #page3 #page3-top h2 {
    font-size: 40px;
  }

  #page3 #page3-top span {
    font-size: 5vw;
    overflow-wrap: break-word;
    line-height: 40px;
  }

  #page3-elements {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    margin-top: 7vw;
  }

  #page3-elements #provimg {
    display: none !important;
  }

  

  #page4 {
    height: 80vh !important;
    width: 100%;
    padding: 4vw 0;
    position: relative;
  }

  #page4 h1 {
    font-size: 10vw;
    font-family: rh;
    font-weight: 100;
    border-bottom: 1px solid black;
    /* background-color: red; */
    width: 96%;
    margin-left: 2%;
  }

  #swiperdiv {
    height: 60vh !important;
    width: 100% !important;
    position: relative !important;
    margin-top: -50px !important;
  }

  .swiper {
    width: 140%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    height: 80%;
    width: 100%;
  }

  /* footer*/

  footer {
    height: 70vh !important;
    width: 100vw;
    background-color: #0e0e0e;
  }

  footer .footer-top {
    height: 55vh !important;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer-top .first {
    font-size: 15px !important;
    height: 10% !important;
    display: flex;
    flex-direction: column;
    /* gap: 15vw; */
    padding-left: 2.5vw;
    color: #fff;
    margin-top: 2rem;
  }

  .footer-top .first .first-top h2 {
    font-weight: light;
    font-family: nb;
  }

  /* .footer-top .first .first-top button {
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 1.1vw;
    font-weight: lighter;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */

  .footer-top .first .first-top button:hover {
    background-color: #fff;
    color: #000;
  }

  .footer-top .first .first-btm h4 {
    font-weight: lighter;
  }

  .footer-top .second {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 3vw;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
  }

  .second .second-one {
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  .second .second-one .span span {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }

  .second .second-one .span>span::after,
  .second .second-one .span1>span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0%;
    left: 0%;
    transform: scaleX(0);
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }

  .second .second-one .span>span:hover::after,
  .second .second-one .span1>span:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .second .second-two {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 17.5vw;
    text-align: right;
  }

  .second .second-two .span span {
    display: flex;
    position: relative;
    cursor: pointer;
  }

  .second .second-two .span>span::after,
  .second .second-two .span1>span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0%;
    left: 0%;
    transform: scaleX(0);
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }

  .second .second-two .span>span:hover::after,
  .second .second-two .span1>span:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .second .second-two .span1 {
    position: relative;
    cursor: pointer;
  }

  .second .second-one .span1 {
    position: relative;
    cursor: pointer;
  }

  footer .footer-bottom {
    height: 15vh !important;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #0e0e0e;
    /* overflow: hidden; */
    /* position: fixed; */
  }

  footer .footer-bottom h1 .last {
    display: inline-block;
    font-size: 22vw;
    margin-top: -6vw;
    color: #fff;
    letter-spacing: 8px;
  }

  /* footer*/

}

@media screen and (min-width: 577px) and (max-width: 1024px) {

  /* Ajustes generales */

  /* Loader */
  .loader h2 span {
    font-size: 26px;
  }

  /* Cursor */
  #cursor {
    display: none !important;
  }

  /* Menu */

  .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-sec .links a {
    font-size: 60px;
  }

  .menu .small-links .title-small-links {
    font-size: 25px;
  }

  .small-links {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: -30%;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .menu .small-links .social h3 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
  }

  .menu .menu-border {
    height: 0px;
}

  /* Pagina 1 */

  #page1-content nav h2 a {
    font-size: 35px;
  }

  #page1 .menu {
    height: 100%;
  }

  #close {
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 50px;
    color: black;
    background-color: #ff5f38;
    border-radius: 100%;
    border: 1px solid black;
  }

  #close::before {
    content: "X";
    font-size: 10px;
    display: block;
  }

  .container-circle {
    display: flex;
    flex-direction: column;
  }

  .circle{
    background-color: #FFF;
    box-shadow: 0 0 0;
    border-radius: 0;
    height: fit-content;
  }

  #close span {
    display: none;
  }

  #page1-content h3 {
    font-size: 32px;
  }

  #page1-content p {
    font-size: 14px;
  }

  .button-menu {
    border: 2px solid white;
    width: 150px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px !important;

  }


  #page1-content button {
    font-size: 14px;
    padding: 10px 20px;
  }

  /* Pagina 2 */

  #page2 {
    height: 100hv;
    box-sizing: border-box;
  }

  #page2 #page2-top h4 {
    font-size: 25px;
  }

  #page2 .elem h1#descriptionText1 {
    padding-top: 5vw;
    line-height: 1.8;
    letter-spacing: 5px;
    font-size: 5vw;
    font-weight: 500;
    overflow: visible;
  }

  #page3 {
    height: fit-content;
    box-sizing: border-box;
  }

  #page3 #page3-top h2 {
    font-size: 40px;
  }

  #page3 #page3-top span {
    font-size: 5vw;
    overflow-wrap: break-word;
  }

  #page3-elements {
    height: 50rem !important;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    margin-top: 7vw;
  }

  #page3-elements .box {
    height: 400px;
    width: 400px;
    /* background-color: blue; */
    position: relative;
  }

  #page3-elements .box video {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
  }

  #page3-elements .box img {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
    transition: all ease 1s;
  }

  #page3-elements .box:hover img {
    opacity: 0;
  }

  #page3-2 #page3-2-top h4 {
    font-size: 25px;
  }

  #page3-2 .elem-1 h1#descriptionText2 {
    padding-top: 5vw;
    line-height: 1.8;
    letter-spacing: 5px;
    font-size: 5vw;
    font-weight: 500;
    overflow: visible;
  }

  #page4 {
    height: 80vh !important;
    width: 100%;
    padding: 4vw 0;
    position: relative;
  }

  #page4 h1 {
    font-size: 10vw;
    font-family: rh;
    font-weight: 100;
    border-bottom: 1px solid black;
    /* background-color: red; */
    width: 96%;
    margin-left: 2%;
  }

  #swiperdiv {
    height: 60vh !important;
    width: 100% !important;
    position: relative !important;
    margin-top: -50px !important;
  }

  .swiper {
    width: 140%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    height: 80%;
    width: 100%;
  }

  /* footer*/

  footer {
    height: 70vh !important;
    width: 100vw;
    background-color: #0e0e0e;
  }

  footer .footer-top {
    height: 45vh !important;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer-top .first {
    font-size: 15px !important;
    height: 10% !important;
    display: flex;
    flex-direction: column;
    /* gap: 15vw; */
    padding-left: 2.5vw;
    color: #fff;
    margin-top: 2rem;
  }

  .footer-top .first .first-top h2 {
    font-weight: light;
    font-family: nb;
  }

  /* .footer-top .first .first-top button {
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 1.1vw;
    font-weight: lighter;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */

  .footer-top .first .first-top button:hover {
    background-color: #fff;
    color: #000;
  }

  .footer-top .first .first-btm h4 {
    font-weight: lighter;
  }

  .footer-top .second {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 3vw;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
  }

  .second .second-one {
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  .second .second-one .span span {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }

  .second .second-one .span>span::after,
  .second .second-one .span1>span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0%;
    left: 0%;
    transform: scaleX(0);
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }

  .second .second-one .span>span:hover::after,
  .second .second-one .span1>span:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .second .second-two {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 17.5vw;
    text-align: right;
  }

  .second .second-two .span span {
    display: flex;
    position: relative;
    cursor: pointer;
  }

  .second .second-two .span>span::after,
  .second .second-two .span1>span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0%;
    left: 0%;
    transform: scaleX(0);
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }

  .second .second-two .span>span:hover::after,
  .second .second-two .span1>span:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  .second .second-two .span1 {
    position: relative;
    cursor: pointer;
  }

  .second .second-one .span1 {
    position: relative;
    cursor: pointer;
  }

  footer .footer-bottom {
    height: 20vh !important;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #0e0e0e;
    /* overflow: hidden; */
    /* position: fixed; */
  }

  footer .footer-bottom h1 .last {
    display: inline-block;
    font-size: 22vw;
    margin-top: -6vw;
    color: #fff;
    letter-spacing: 8px;
  }

  /* footer*/

}